body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
.header-1{
    display: flex;
    justify-content: space-around;
    background: rgb(37, 37, 53);
}
.fale-conosco{
    display: flex;
    color: white;
    font-weight: 700;
    position: relative;
    justify-content: center;
}
.fale-conosco p{
    padding-left: 10px;
    font-size: 17px;
}
.fale-conosco img{
    width: 39px;
    height: 39px;
    background-color: rgb(73, 73, 78);
    position: relative;
    top: 14px;
    padding: 6px;
    border-radius: 37%;
}
.atendimento{
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    background-color: rgb(90, 90, 95);
    color: white;
    font-size: 17px;
    font-weight: 700;
}
.atendimento img{
    width: 39px;
    height: 39px;
    position: relative;
    top: 12px;
    padding: 6px;
    padding-right: 10px;
}
.area-clientes{
    display: flex;
    font-size: 17px;
    font-weight: 700;
}
.area-clientes button{
    height: 40px;
    width: 200px;
    top: 17px;
    position: relative;
    border-radius: 10px;
    background-color: rgb(233, 233, 171);
    font-size: large;
    color: black;
}
.area-clientes img{
    width: 39px;
    height: 39px;
    background-color: rgb(73, 73, 78);
    position: relative;
    top: 14px;
    padding: 6px;
    border-radius: 37%;
    right: 10px;
}
nav{
    text-transform: uppercase;
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 15px;
}
nav img{
    height: 128px;
    width: 128px;
}
nav div{
    display: flex;
    justify-content: center;
    width: 1000px;
    padding: 0;
}
.list-nav{
    list-style: none;
    width: 730px;
    margin: 0;
    padding: 0;
    font-size: large;
    font-weight: 700;
    color: rgb(106, 106, 106);
}
.list-nav li{
    padding-left: 30px;
    display: inline;
    position: relative;
    top: 50px;
}
.list-nav li:hover{
    color: black;
}
.content-nav button{
    position: relative;
    height: 50px;
    width: 200px;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    background-color: rgb(37, 37, 53);
    font-weight: 700;
    top: 30px;
    left: 80px;
}
.principal-content{
    width: 100%;
    height: 400px;
    padding: 100px;
    background-image: url("../img/slide.jpg.webp");
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    color: rgb(73, 73, 78);
    opacity: 0.9;
    background-size: cover !important;
}
strong{
    color: black;
}
.principal-content h1{
    height: 80px;
    font-size: xx-large;
    font-weight: 700;
}
.principal-content p{
    height: 100px;
}
.btn-more{
    position: relative;
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    background-color: rgb(37, 37, 53);
    font-weight: 700;
    font-size: large;
}
.cards{
    transform: translateY(-75px);
    position: relative;
    display: flex;
    justify-content: space-around;
}
.cards ul{
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    list-style: none;
    display: flex;
    position: relative;
    justify-content: space-around;
    padding: 10px;
}
.cards ul li{
    max-width: 250px;
    padding-left: 20px;
    text-align: center;
}
.img-cards{
    background: rgb(37, 37, 53);
    border-radius: 50%;
    border: 2px solid ;
    position: relative;
    transform: translateY(-20px);
}

.card-all{
    background: rgb(37, 37, 53);
    color: white;
    height: 240px;
    border-radius: 13px;
}
.card-all h1{
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}
.services{
    display: grid;
    align-content: space-around;
    justify-content: center;
    justify-items: center;
}
.txt-1{
    position: relative;
    color: rgb(37, 37, 53);
    margin: 0;
    padding: 0;
}
.txt-2{
    margin: 0;
    padding: 0;
    position: relative;
    color: rgb(102, 102, 105);
    font-weight: 400;
}
.info-cards{
    display: grid;
    grid-template-columns: auto auto auto; 
    grid-template-rows: auto auto;
    padding: 50px 100px 100px 150px;
}
.cards-services{
    display: grid;
    grid-template-columns: auto auto;
    max-width: 200px;
    padding: 20px;
}
.cards-info-all{
    width: 240px;
    font-size: 15px;
    padding: 0;
    margin: 0;
}
.cards-img{
    height: 48px;
    width: 48px;
    padding: 8px;
    border-radius: 8px;
    background-color: rgb(226, 226, 226);
}
.cards-info-all .cards-title{
    color: rgb(0, 0, 0);
    font-weight: 500;
    padding: 5px;
    margin: 0;
}
.cards-info-all .cards-txt{
    color: rgb(73, 73, 78);
    padding:5px;
    margin: 0;
}