@media screen and (min-width: 450px) and (max-width: 768px) {
    .content-nav, .list-nav, .btn-imp{
        display: none;
    }
    .mobile-menu-icon {
        
        position: relative;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        width: 48px;
        height: 48px;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-button button {
        width: 100%;
    }
    .open {
        display: block;
    }
  nav {
    position: relative;
  }

  nav ul {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #0066cc;
    display: none;
  }

  nav ul li {
    display: block;
    margin: 10px 0;
  }

  nav button {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    padding: 5px 10px;
  }

  nav.active ul {
    display: block;
  }

  .cards {
    flex-direction: column;
  }

  .cards li {
    margin-bottom: 30px;
  }

  .info-cards .cards-services {
    margin-bottom: 20px;
  }
}


const sections = document.querySelectorAll('section');

sections.forEach(section => section.classList.toggle('dark'));